<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="spiderconfig" type="Spider.util.ConfigHelper,Spider"/>
  </configSections>
  <spiderconfig SpiderName="tyspider" DoMain="">
    <SaveType value=""/>
    <SavePath value=""/>
    <SaveFileType value=""/>
    <SaveArticleType value=""/>
  </spiderconfig>
</configuration>
